body {
  background-color: #d5e1ef;
}

.container {
  padding: 40px 16px 16px 16px;
  border-radius: 10px;
  background: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 600px;
}

.container img {
  border-radius: 20px;
}

.container h1 {
  color: #1f314f;
  font-style: bold;
  font-size: 22px;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.container p {
  color: #68778d;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}
